body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  line-height: 1.5;
}
h1, h2, h3, h4, .button {
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
}
.about {
  background: #000;
  font-size: 24px;
  color: #fff;
}
.container {
  max-width:1024px;
  margin: auto;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
  padding-top: 40px ;
/*  text-align: justify;*/
}
.about img {
  display: block;
}
h1 {
  font-size: 48px;
  line-height: 1.1;
}
.button {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 14px 30px;
  display: inline-block;
  margin-top: 10px;
  transition: .3s;
  border-radius: 15px;
  margin-bottom: 10px;
}
.button:hover {
  background: #fff;
  color: #000;
}
.logo {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}